<div>
    <h1>Música VIU</h1>
    <div *ngIf="playing || true">
        <audio id="audio_player" controls></audio>
        <p *ngIf="playing">Reproduciendo: {{playing}}</p>
    </div>
    <hr>
</div>

<h1>Discos disponibles:</h1>
<article *ngFor="let record of records; let i=index">
    <h2>{{record.title}}</h2>
    <h3>{{record.artist | uppercase}}</h3>
    <h3 [ngClass]="{'green':record.year>2010,'orange':record<=2010}">{{record.year}}</h3>
    <img src="{{record.image_path}}" alt="{{record.title}}">
    <div *ngFor="let song2 of record.songs">
        <!-- <p>{{song.track}}. {{song.title}}</p> -->
        <app-cancion [song]="song2" (songToPlay)="reproducirCancion($event)"></app-cancion>
    </div>
    <hr *ngIf="i<records.length-1">
</article>