<h2>Bienvenidos</h2>
<button (click)="pulsame()">Púlsame</button>
<div *ngIf="pulsaciones>0">
    <p>Has pulsado un total de {{pulsaciones}} veces.</p>
    <button (click)="reset()">Reset</button>
</div>