<h2>Formulario HTML</h2>
<form (ngSubmit)="onSubmit()" #viuForm="ngForm">
  <label for="nombre">Nombre:</label><br>
  <input type="text" id="nombre" name="nombre" value="Pon aquí tu nombre" #nombre="ngModel"
    [(ngModel)]="solicitud.nombre" required pattern="[a-zA-Z]+"><br><br>
  <small *ngIf="!nombre.valid && nombre.touched">El nombre no es válido.</small><br><br>

  <label for="correo">Correo:</label><br>
  <input type="text" id="correo" name="correo" #correo="ngModel" [(ngModel)]="solicitud.correo" required
    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,3}$"><br><br>
  <small *ngIf="!correo.valid && correo.touched">El correo no es válido.</small><br><br>

  <label for="valoracion">¿Te gusta la página?:</label><br>
  <input type="radio" id="valoracion1" name="valoracion" value="Si" #valoracion="ngModel"
    [(ngModel)]="solicitud.valoracion">Si<br>
  <input type="radio" id="valoracion2" name="valoracion" value="No" #valoracion="ngModel"
    [(ngModel)]="solicitud.valoracion">No<br>
  <input type="radio" id="valoracion3" name="valoracion" value="N/C" #valoracion="ngModel"
    [(ngModel)]="solicitud.valoracion">N/C<br><br>

  <label for="consulta">Consulta:</label><br>
  <textarea id="consulta" name="consulta" rows="4" #consulta="ngModel"
    [(ngModel)]="solicitud.consulta"></textarea><br><br>

  <input type="submit" value="Envía" [disabled]="viuForm.invalid">
</form>