<nav class="menu_principal">
    <ul>
        <li [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Inicio</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/musica']">Música</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/cine']">Cine</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/libros']">Libros</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/podcasts']">Podcasts</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/videojuegos']">Videojuegos</a></li>
        <li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/contacto']">Contacto</a></li>
    </ul>
</nav>